@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700;800;900&display=swap');

body{
    font-family: 'Exo 2', sans-serif;
}

.nav a {
    font-weight: 500;
}
.nav a:hover {

    color: #dc3545 !important;
    text-decoration: underline;
}

.social-links a {
    text-decoration: none;
    padding: 8px;
    color: black !important;
}

.social-links a:hover {
    color: #dc3545 !important;
}
